<!DOCTYPE html>
<html lang="en">

<head>

    <title>HomeRentalSystem.com</title>
    <link rel="icon" type="image/png" href="img/icon.png" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

</head>

<body class="color">

    <header>
    <% include ./partials/header %>
        <div id="intro" class="view hm-black-strong">
            <div class="container-fluid full-bg-img d-flex align-items-center justify-content-center">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 text-center" id="adjust1">
                        <h2 class="display-3 font-bold text-black mb-2">
                            HomeRentalSystem
                        </h2>
                        <hr class="hr-light">

                        <h4 class="display-4 text-white my-4">The biggest apartment searching portal in Bangladesh</h4>



                        <a class="btn btn-success btnpad" href="/search" role="button">Find Apartment</a>
                        <a class="btn btn-warning btnpad " href="/signup" role="button">Post Ad</a>
                    </div>

                </div>
            </div>
        </div>
    </header>


    <main class="mt-5">

        <div id="customize" color= ></div>

        <!--search -->
        <div class="container" id="our_services">
            <hr class="my-5" />
            <section id="search">
                <div class="row">
                    <div class="col-md-8 ">
                        <h1 class="display-4 font-bold text-black mb-2 align-items-center"> Easily search for apartments
                        </h1>
                        <p class="my-3">
                            Now you can easily access your desired apartments, with a simple click.
                            <li>Join over a thousand renters who found a home on HomeRentalSystem.com -- it's FREE!</li>
                            <li>HomeRentalSystem.com features tens of thousands of rentals - with more added daily!</li>
                            <li>Detailed listings of condo rentals include photos, floor plans, contact information, and more</li> 
                        </p>
                    
                    </div>
                    <div class="col-md-4">
                        <img src="img/4.jpg" class="img-fluid" />
                    </div>
                </div>
            </section>
            <hr class="my-5" />

            <!--search -->

            <!--post -->
            <section id="post">
                <div class="row">
                    <div class="col-md-8 ">
                        <h1 class="display-4 font-bold text-black mb-2 align-items-center"> Post Ad for your apartment</h1>
                        <p class="my-3">
                            You can easily post your advertisement through our website, without any hassle and efficiently. Our System is connected 24/7
                            to a database system which will remember the advertisement posted by you. So our website is user friendly and easy to surf.
                        </p>
                        
                    </div>
                    <div class="col-md-4">
                        <img src="img/5.jpg" class="img-fluid" />
                    </div>
                </div>
            </section>

            <hr class="my-5" id="customers" />
            <!--post -->

           <!--cards customer-->
           <h1 class="display-4 font-bold text-black mb-2 align-items-center" id="customers"> Lets see what our
            customers has to say</h1>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top img-fluid" src="img/John Mark.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">John Mark, Banasree</h5>
                    <p class="card-text">This website help me to find my ideal home, they deliver the best customer service I never imagined before. 
                        All in all I am satisfied.</p>
                    <p class="card-text"><small class="text-muted">Last updated 6 years ago</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="img/John Mcintosh.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">John Mcintosh, Mirpur</h5>
                    <p class="card-text">I never imagined that I will find my budget apartment with so many facilities, 
                        I appreciate their effort that they are trying to help us in this busy city.</p>
                    <p class="card-text"><small class="text-muted">Last updated 6 months ago</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top img-fluid" src="img/Miss Sussy.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Miss Sussy, Rampura</h5>
                    <p class="card-text">As a girl it's pretty hard to find any room in this city especially near our university, 
                        this website help me to find a room near my university within my price range and ensuring my safety too.</p>
                    <p class="card-text"><small class="text-muted">Last updated 2 years ago</small></p>
                </div>
            </div>

            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top img-fluid" src="img/Mr. Lucifer.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mr. Lucifer, Malibagh</h5>
                        <p class="card-text">My friend suggested me this website, and they help me to find the room of my choice with keeping my security in mind.</p>
                        <p class="card-text"><small class="text-muted">Last updated 4 weeks ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top img-fluid" src="img/Shankar dev.webp" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Shankar dev, Nikunja</h5>
                        <p class="card-text"> Since I came from remote area I do not know much about this city, 
                            but one of my cousin suggested me this website and through this site I found a place to live in beside our university.</p>
                        <p class="card-text"><small class="text-muted">Last updated 1 year ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top img-fluid" src="img/Shawn Tait.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Shawn Tait, Basabo</h5>
                        <p class="card-text">After renting a room from this site they do not take any further querry from their client, 
                            which is very unprofessional and I think they have to look into it.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 months ago</small></p>
                    </div>

                </div>


                <!--cards customer-->
            </div>



                <!--CONTACT US-->
                <div class="container">
                    <hr class="my-5" id="customers" />
                    <h1 class="display-4 font-bold text-black mb-2 align-items-center" id="contact"> Contact Us</h1>
                    <div class="inner contact">
                        <!-- Form Area -->
                        <div class="contact-form">
                            <!-- Form -->
                            <form id="contact-us" method="post" action="/message">
                                <!-- Left Inputs -->
                                <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                                    <!-- Name -->
                                    <input type="text" name="name" id="name" required="required" class="form"
                                        placeholder="Name" />
                                    <!-- Email -->
                                    <input type="email" name="mail" id="mail" required="required" class="form"
                                        placeholder="Email" />
                                    <!-- Subject -->
                                    <input type="text" name="subject" id="subject" required="required" class="form"
                                        placeholder="Subject" />
                                </div><!-- End Left Inputs -->
                                <!-- Right Inputs -->
                                <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                                    <!-- Message -->
                                    <textarea name="message" id="message" class="form textarea"
                                        placeholder="Message"></textarea>
                                </div><!-- End Right Inputs -->
                                <!-- Bottom Submit -->
                                <div class="relative fullwidth col-xs-12">
                                    
                                    <input type="submit" class="btn btn-primary form-btn semibold" value='Send Message'/>
                                </div><!-- End Bottom Submit -->
                                <!-- Clear -->
                                <div class="clear"></div>
                            </form>

                            <!-- Your Mail Message -->
                            <div class="mail-message-area">
                                <!-- Message -->
                                <div class="alert gray-bg mail-message not-visible-message">
                                    <strong>Thank You !</strong> Your email has been delivered.
                                </div>
                            </div>

                        </div><!-- End Contact Form Area -->
                    </div><!-- End Inner -->
                </div>
                <!--cONTCT US-->



    </main>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="js/main.js"></script>

</body>

</html>