<!DOCTYPE html>
<html lang="en">

<head>
    <title>Find Apartment</title>
    <link rel="icon" type="image/png" href="img/icon.png" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="find">

    <header>
        <% include ./partials/header%>

        <div id="intro2" class="view hm-black-strong">
            <div class="container-fluid full-bg-img d-flex align-items-center justify-content-center">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 text-center" id="adjust1">
                        <h2 class="display-3 font-bold text-white mb-2">
                                Home Rental System
                        </h2>
                        <hr class="hr-light">

                        <h4 class="display-4 text-white my-4">Find Your Apartment Easily</h4>
                    </div>

                </div>
            </div>

        </div>

    </header>


    <main class="mt-5">
        <div class="container">


            <!-- search bar-->
            <div class="left-search">

                <h4 style="color:moccasin;">House near you:</h4>
                <br><br>

                <div class="list-group" id="universityname">
                    <a href="#" class="list-group-item">Rampura</a>
                    <a href="#" class="list-group-item">Banasree</a>
                    <a href="#" class="list-group-item">Dhanmondi</a>
                    <a href="#" class="list-group-item">Uttara</a>
                    <a href="#" class="list-group-item">Nikunja</a>
                    <a href="#" class="list-group-item">Moghbazar</a>
                    <a href="#" class="list-group-item">Shantinagar</a>
                    <a href="#" class="list-group-item">Kakrail</a>
                    <a href="#" class="list-group-item">Mirpur</a>
                    
                    

                </div>
            </div>
            <hr>
            <div class="right-add">
                <!-- images-->

                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h1.jpg" alt="Lights" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 1: Maslin baraka</p>
                                    <p> Uttara, Dhaka</p>
                                    

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h2.jpg" alt="Nature" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 2: Mohana</p>
                                    <p>Banasree, Dhaka</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h3.jpg" alt="Fjords" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 3: Priyopantor</p>
                                    <p>Dhanmondi, Dhaka</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h4.jpg" alt="Lights" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 4: Digonto</p>
                                    <p>Nikunja, Dhaka</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h5.jpg" alt="Nature" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 5: Shantir Nir</p>
                                    <p>Rampura, Dhaka</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h6.jpg" alt="Fjords" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 6: Apon Tikana</p>
                                    <p>Shantinagar, Dhaka</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h7.jpg" alt="Lights" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 7: Matrichaya</p>
                                    <p>Kakrail, Dhaka</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h8.jpg" alt="Nature" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 8: Easel Hut</p>
                                    <p>Moghbazar, Dhaka</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#link">
                                <img src="img/h9.jpg" alt="Fjords" id="ig" style="width:100%">
                                <div class="caption">
                                    <p>House 9: Noyonaviram</p>
                                    <p>Mirpur, Dhaka</p>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>




    </main>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>